<div class="manage-courses-container">
  <h1>ניהול קורסים</h1>

  <div class="example-action-buttons">
    <button mat-button (click)="openAll()">פתח הכל</button>
    <button mat-button (click)="closeAll()">סגור הכל</button>
  </div>

  <mat-accordion class="example-headers-align" multi>
    @for (course of courses; track course.id) {
    <mat-expansion-panel (opened)="showCourseDetails(course.id)" (closed)="course.isDetailsOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ course.title }}
        </mat-panel-title>
        <mat-panel-description>
          לחץ כאן כדי {{ course.isDetailsOpen ? 'לסגור פרטים' : 'לראות פרטים' }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card-content>
        @if (selectedCourse && selectedCourse.id === course.id) {
        <p>{{ selectedCourse.description }}</p>
        <h3>שיעורים</h3>
        <mat-list>
          @for (lesson of lessons; track lesson.id) {
          <mat-list-item>
            <h4>{{ lesson.title }}</h4>
            <p>{{ lesson.content }}</p>
          </mat-list-item>
          } @empty {
          <p>אין שיעורים בקורס זה.</p>
        }
      </mat-list>
      }

      @if (!course.isEditFormOpen) {
      <button mat-button (click)="toggleEditForm(course)">ערוך קורס</button>
      } @else {
      <form [formGroup]="courseForm" (ngSubmit)="updateCourse(course.id)">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="כותרת קורס">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="תיאור קורס"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">עדכן</button>
        <button mat-button (click)="toggleEditForm(course)">בטל</button>
      </form>
      }

      <button mat-button (click)="deleteCourse(course.id)">מחק קורס</button>

      @if (selectedCourse && selectedCourse.id === course.id) {
      <h2>הוספת שיעור</h2>
      <form [formGroup]="lessonForm" (ngSubmit)="addLesson(course.id)">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="כותרת שיעור">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="content" placeholder="תוכן שיעור"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">הוסף</button>
      </form>
      }
    </mat-card-content>
  </mat-expansion-panel>
  } @empty {
  <p>אין קורסים זמינים כרגע.</p>
  }
</mat-accordion>

@if (errorMessage) {
<div class="error-message">{{ errorMessage }}</div>
}
</div>