.spacer {
    flex: 1 1 auto;
  }
  .navigation-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  background: linear-gradient(135deg,  #4ff763,#fa8181);
    
  }
  
  .app-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  

  
  .nav-buttons, .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .nav-button {
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 20px;
    padding: 8px 16px;
  }
  
  .nav-button:hover {
    transform: translateY(-3px);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .logout-button, .register-button {
    margin-left: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    padding: 8px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logout-button:hover, .register-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .logout-button {
    background-color: #d32f2f; /* Red accent */
    color: white;
  }
  
  .register-button {
    background-color: #ffc107; /* Amber accent */
    color: black;
  }